*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f4f4f4;
    color: #333;
    
}

.container{
    display: grid;

}
/*___________________StART HEADER SECTION______________________*/
#header{
    height: 10rem;
    background-color:  #f4f4f4;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 0px 20px 5px black;
}
#logo{
    margin: 50px -500px 0px;
    height: 5rem;
    width: 5rem;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightskyblue;
}
/************HEADER BUTTON***********/
.nav{
    margin: 0px -700px 40px;
    height: auto;
    font-size: 5rem;
}

#btn1{
    font-size: 1rem;
    
}
#btn2{
    font-size: 1rem;
}
#btn3{
    font-size: 1rem;
}
#btn4{
    font-size: 1rem;
}
/********BUTTON*************/
/*_________________END HEADER SECTION_______________________*/



/*_________________START CONTENT SECTION____________________*/
#content{
    height: auto;
    background-color: #9b9b9b;
    font-family: sans-serif;
}
/***********BANNER**************/
#banner{
    height: 40rem;
    width: 100%;
    background-color: #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#banner_dec{
    display: grid;
    align-items: center;
    justify-content: center;
}
#banner_btn{
    height: auto;
    font-size: 2rem;
    border-radius: 15px;
    transition: .5s;
}
#banner_btn:hover{
    transform: scale(1.1);
}
#banner_bg{
    height: 35rem;
    width: 50%;
    background-color: #f4f4f4;/*banner image*/
    animation: slide 10s ease-in-out infinite;
}
@keyframes slide{
    0% {
        transform: translateX(0%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(120%);
    }

}

/************ORDER_NAV************/
#order_nav{
    height: 10rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#order_nav_free_ship{
    height: 5rem;
    width: 5rem;
    background-color: tomato;
}
#order_nav_online_order{
    height: 5rem;
    width: 5rem;
    background-color: rgb(216, 216, 63);
}
#order_nav_discount_item{
    height: 5rem;
    width: 5rem;
    background-color: rgb(33, 175, 33);
}
#order_nav_most_populer{
    height: 5rem;
    width: 5rem;
    background-color: paleturquoise;
}
/*_________________FEATYRED ITEM__________________________*/
#featured_item{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80rem;
    width: 100%;

}
#featured_text{
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: grid;

}
.featured_item_list{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
}
#item1{
    height: 30rem;
    width: 20rem;
    background-color: white;
    transition: .5s;
}
#item1:hover{
    box-shadow: 0px 0px 40px black ;
    transform: scale(1.1);
}
#item2{
      height: 30rem;
    width: 20rem;
    background-color: white;
    transition: .5s;
}
#item2:hover{
    box-shadow: 0px 0px 40px black ;
    transform: scale(1.1);
}
#item3{
      height:30rem;
    width: 20rem;
    background-color: white;
    transition: .5s;
}
#item3:hover{
    box-shadow: 0px 0px 40px black ;
    transform: scale(1.1);
}
#item4{
      height: 30rem;
    width: 20rem;
    background-color: white;
    transition: .5s;
}
#item4:hover{
    box-shadow: 0px 0px 40px black ;
    transform: scale(1.1);
}
#item5{
      height: 30rem;
    width: 20rem;
    background-color: white;
    transition: .5s;
}
#item5:hover{
    box-shadow: 0px 0px 40px black ;
    transform: scale(1.1);
}
#item6{
      height: 30rem;
    width: 20rem;
    background-color: white;
    transition: .5s;
}
#item6:hover{
    box-shadow: 0px 0px 40px black ;
    transform: scale(1.1);
}
#item7{
      height: 30rem;
    width: 20rem;
    background-color: white;
    transition: .5s;
}
#item7:hover{
    box-shadow: 0px 0px 40px black ;
    transform: scale(1.1);
}
#item8{
      height: 30rem;
    width: 20rem;
    background-color: white;
    transition: .5s;
}
#item8:hover{
    box-shadow: 0px 0px 40px black ;
    transform: scale(1.1);
}

/*_________________END FEATURED ITEM______________________*/

/*_________________START IMG BANNER_______________________*/
.img_banner_2{
    display: grid;
    height: 60rem;

}

#first_sec{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
#banner_img_1{
    height: 30rem;
    width: 50rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 2px black;
    transition: .5s;
}
#banner_img_1:hover{
    transform: scale(.9);
    box-shadow: 0px 0px 30px 5px black;
}
#banner_img_2{
     height: 30rem;
    width: 50rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 2px black;
    transition: .5s;
}
#banner_img_2:hover{
    transform: scale(.9);
    box-shadow: 0px 0px 30px 5px black;
}
#second_sec{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#banner_img_3{
     height: 25rem;
    width: 35rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 2px black;
    transition: .5s;
}
#banner_img_3:hover{
    transform: scale(.9);
    box-shadow: 0px 0px 30px 5px black;
}
#banner_img_4{
     height: 25rem;
    width: 35rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 2px black;
    transition: .5s;
}
#banner_img_4:hover{
    transform: scale(.9);
    box-shadow: 0px 0px 30px 5px black;
}

#banner_img_5{
     height: 25rem;
    width: 35rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 2px black;
    transition: .5s;
}
#banner_img_5:hover{
    transform: scale(.9);
    box-shadow: 0px 0px 30px 5px black;
}
/*_________________end IMG BANNER_______________________*/
/*_________________START FOOTER SECTION____________________*/
#fotter{
    height: 10rem;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


